body {
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 70px;
    padding: 20px;
    box-sizing: border-box;
}

.emcima, .embaixo {
    width: 100%;
    text-align: center;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px 0;
}

img {
    max-width: 100%;
    height: 700px;
    border-radius: 10px;
}
